@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(211, 238, 255);
}

header {
    background-color: rgba(128, 128, 128, 0.856);
    
}
header h1 {
    padding: 10px;
    text-align: center;
}
menu{
  display: none;
}
span#menu{
    background-color: rgb(26, 26, 26);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#menu:hover{
    background-color: white;
    color: black;
}
menu ul {
    list-style-type: none;
}
menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(85, 83, 83);
    border-top: 2px solid rgba(255, 255, 255, 0.589);
  
}
menu a:hover {
    background-color: rgb(204, 203, 203);
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
article h2 {
    padding-bottom: 20px;
}
article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 15px;
}